.postBlock {
  padding: 10px;
  box-sizing: border-box;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 1.8rem;
  margin: 20px 0 10px;
}

.comments {
  margin-top: 20px;
  background: #f5f5f5;
  border-radius: 8px;
}

.commentsTitle {
  font-size: 1.4rem;
  padding: 10px;
  margin-bottom: 10px;
}

.addCommentContainer {
  padding: 10px;
}
