<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body style="margin: 0; padding: 0;">
  <div id="application"></div>
</body>

</html>
