.root {
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;

  &:last-of-type {
    border: none;
  }
}

.counter {
  display: flex;
  padding-left: 20px;
  font-size: smaller;
}

.isActive {
  background: #dedede;
}

.arrow {
  display: inline-block;
  margin-left: 5px;
  transform: rotate(90deg);
  opacity: .2;
}
